<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@1268.v6eb_e2ee1a_85a">
  <actions>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobAction plugin="pipeline-model-definition@2.2118.v31fd5b_9944b_5"/>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction plugin="pipeline-model-definition@2.2118.v31fd5b_9944b_5">
      <jobProperties/>
      <triggers/>
      <parameters/>
      <options/>
    </org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction>
  </actions>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@3606.v0b_d8b_e512dcf">
    <script>import groovy.transform.Field
@Field String customImage

pipeline {
    agent {
        docker {
            image &apos;docker:19.03.12&apos;
            args &apos;-v /var/run/docker.sock:/var/run/docker.sock&apos;
        }
    }
    stages {
        stage(&apos;Clone&apos;) {
            steps {
                deleteDir()

                git branch: &apos;main&apos;, url: &apos;https://github.com/naturalett/jenkins.git&apos;
            }
        }
        stage(&apos;Build&apos;) {
            steps {
              script {
                dir(&apos;Application/&apos;) {
                  customImage = docker.build(&quot;naturalett/hello-world:${env.BUILD_ID}&quot;)
                }
              }
            }
        }
        stage(&apos;Test&apos;) {
            steps {
              script {
                dir(&apos;Application/&apos;) {
                  docker.image(&apos;python:3.7-slim&apos;).inside {
                      sh &quot;&quot;&quot;#!/bin/bash
                      python3 -m venv venv
                      source venv/bin/activate
                      pip install -r requirements.txt
                      pytest test_*.py -v --junitxml=&apos;test-results.xml&apos;&quot;&quot;&quot;
                  }
                }
              }
            }
        }
        stage(&apos;Display Results&apos;) {
            steps {
              dir(&apos;Application/&apos;) {
                echo &apos;Displaying Results...&apos;
                junit allowEmptyResults: true, testResults: &apos;test-results.xml&apos;
              }
            }
        }
    }
    post {
        success {
            script {
                currentBuild.description = &quot;Passed successfully!&quot;
            }
        }
    }
}
</script>
    <sandbox>false</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>